{{define "main"}}

{{ partial "page-header.html" .}}

{{/*  {{with .Params.team_members}}
<section class="section">
  <div class="container">
    <div class="row gy-5">
      {{range .}}
      <div class="col-xl-3 col-lg-4">
        <div class="card bg-transparent border-0 text-center">
          {{ partial "image" (dict "Src" .image "Alt" .name "Class" "card-img-top rounded-2" "Size" "380x") }}
          <div class="card-body px-0">
            {{with .name}}<h3 class="h5 mb-1">{{. | markdownify }}</h3>{{end}}
            {{with .designation}}<p class="mb-0">{{. | markdownify }}</p>{{end}}
            {{with .social_profile}}
            <ul class="list-inline social-icons-alt mb-0 mt-2" style="margin-left:-7px">
              {{range .}}
              <li class="list-inline-item me-0"><a class="p-2" href="{{.link | safeURL}}" title="{{.name}}"><i class="{{.icon}}"></i></a></li>
              {{end}}
            </ul>
            {{end}}
          </div>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</section>
{{end}}  */}}

<!-- feature box -->
{{if .Params.features_box.enable}}
{{with .Params.features_box}}
<section class="section bg-light">
  <div class="container">
    <div class="row gy-5">
      <h2 class="mb-4 pb-2">{{ .title | markdownify }}</h2>
        <p class="mb-4">{{ .content | markdownify }}</p>
      {{range .features_box_item}}
      <div class="col-xl-3 col-lg-4">
        <div class="feature-card is-hoverable py-5 bg-white rounded-1 text-center">
          <div class="card bg-transparent border-0 text-center" style="margin-bottom: 15px;">
            {{ partial "image" (dict "Src" .image "Alt" .name "Class" "card-img-top rounded-2" "Size" "380x") }}
          </div>
          <h3 class="h5 mb-3">{{.title | markdownify}}</h3>
          <a class="mb-3" href="{{ .link | relLangURL }}" title="{{ .label }}" class="btn btn-primary">{{ .label }}</a>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</section>
{{end}}
{{end}}
<!-- /feature box-->

{{end}}