<!-- Favicon settings -->
<link rel="icon" href="{{ (resources.Get "images/favicon/favicon.ico").Permalink }}" type="image/x-icon">
<link rel="shortcut icon" href="{{ (resources.Get "images/favicon/favicon.ico").Permalink }}" type="image/x-icon">
<link rel="apple-touch-icon" href="{{ (resources.Get "images/favicon/apple-touch-icon.png").Permalink }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ (resources.Get "images/favicon/favicon-96x96.png").Permalink }}">
<link rel="icon" type="image/svg+xml" href="{{ (resources.Get "images/favicon/favicon.svg").Permalink }}">
<link rel="manifest" href="{{ (resources.Get "images/favicon/site.webmanifest").Permalink }}"> 